# Compiled source #
###################

# OS garbage #
##############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Unity garbage #
#################
erebus/Library/*
erebus/Temp/*

# Visual Studio garbage #
#########################
*.sln
erebus/.vs/*